/* resources/css/app.css */

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés */
html {
    scroll-behavior: smooth;
}

/* Curseur personnalisé */
#cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #FFB86C;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: transform 0.1s ease-out;
}

/* Désactiver le curseur sur mobile */
@media (max-width: 768px) {
    #cursor {
        display: none;
    }

    body {
        cursor: auto;
    }
}

/* Sélection de texte */
::selection {
    background-color: #FFB86C;
    color: #ffffff;
}

::-moz-selection {
    background-color: #FFB86C;
    color: #ffffff;
}

/* Animation pour le bouton de défilement */

.bounce2 {
    animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

/* Classe pour la hauteur de la section Hero */
.min-h-screen-with-navbar {
    min-height: calc(100vh - 4rem); /* Ajustez 4rem à la hauteur réelle de votre navbar */
}
