/* resources/css/app.css */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('../../public/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../../public/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../../public/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('../../public/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../../public/fonts/Poppins/Poppins-Black.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: url('../../public/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
    font-display: swap;
}

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés */
html {
    scroll-behavior: smooth;
}

.banner-section {
    background-color: #000;
    background-image: url('../../public/img/banner.webp');
}

@media (max-width: 600px) {
    .banner-section {
        background-image: url('../../public/img/banner.webp');
    }
}

/* Curseur personnalisé */
#cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #FFB86C;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: transform 0.1s ease-out;
}

/* Désactiver le curseur sur mobile */
@media (max-width: 768px) {
    #cursor {
        display: none;
    }

    body {
        cursor: auto;
    }
}

/* Sélection de texte */
::selection {
    background-color: #FFB86C;
    color: #ffffff;
}

::-moz-selection {
    background-color: #FFB86C;
    color: #ffffff;
}