/* resources/css/app.css */

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés */
html {
    scroll-behavior: smooth;
}

.banner-section {
    background-color: #000;
    background-image: url('../../public/img/banner.webp');
}

@media (max-width: 600px) {
    .banner-section {
        background-image: url('../../public/img/banner.webp');
    }
}

/* Curseur personnalisé */
#cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #FFB86C;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: transform 0.1s ease-out;
}

/* Désactiver le curseur sur mobile */
@media (max-width: 768px) {
    #cursor {
        display: none;
    }

    body {
        cursor: auto;
    }
}

/* Sélection de texte */
::selection {
    background-color: #FFB86C;
    color: #ffffff;
}

::-moz-selection {
    background-color: #FFB86C;
    color: #ffffff;
}